<div data-drilldown-container class="hidden mb-8">
  <%= turbo_frame_tag "drilldown-frame", src: nil do %>
    <div class="bg-white shadow rounded-lg p-6">
      <p class="text-gray-500 text-center">Click a category in the spending chart above to see individual transactions.</p>
    </div>
  <% end %>
</div>
